
<div class="faq-entry container">
    <div class="row">
        <div class="col-lg-9">
            <div class="accordion">
                <article class="accordion-item">
                    <h2 class="title">Mais informações</h2>
                    <div class="description">
                    <div class="model-attr">
					
							<p class="attr-item">
								<span class="attr-name">Nome</span>
								<span class="attr-value">Luana Gaúcha</span>
							</p>

                            <p class="attr-item">
								<span class="attr-name">Nacionalidade:</span>
                                <span class="attr-value">Brasileira</span>
							</p>

                            <p class="attr-item">
								<span class="attr-name">Idiomas:</span>
                                <span class="attr-value">Português, Inglês e Espanhol</span>
							</p>
                            <p class="attr-item">
								<span class="attr-name">Altura:</span>
                                <span class="attr-value">166 cm</span>
							</p>
                            <p class="attr-item">
								<span class="attr-name">Busto:</span>
                                <span class="attr-value">Silicone</span>
							</p>

                            <p class="attr-item">
								<span class="attr-name">Cintura:</span>
                                <span class="attr-value">62 Cm</span>
							</p>
                            <p class="attr-item">
								<span class="attr-name">Cintura:</span>
                                <span class="attr-value">62 Cm</span>
							</p>

                            <p class="attr-item">
								<span class="attr-name">Olhos:</span>
                                <span class="attr-value">Mel</span>
							</p>
						
						</div>
                    </div>
                </article>
                <article class="accordion-item">
                    <h2 class="title">O que eu faço ?</h2>
                    <div class="description">
                    <div class="model-attr">
					
                    <p class="attr-item">
                        <span class="attr-value">Beijo na boca, BDSM, Sexo Anal, Strap ON, SexyToy e Fantasias</span>
                     
                    </p>


                  
                
                </div>
                      
                    </div>
                </article>
                <article class="accordion-item">
                        <h2 class="title">Meu atendimento</h2>
                        <div class="description">
                                <div class="model-attr">
					
                                        <p class="attr-item">
                                                <p class="attr-item">
                                                        <span class="attr-name">Quem:</span>
                                                        <span class="attr-value">Homens, Mulheres, Casais e duplas</span>
                                                    </p>
                                        </p>
                                    
                                    </div>
                                    <div class="model-attr">
					
                               

                                        <p class="attr-item">
                                                <p class="attr-item">
                                                        <span class="attr-name">Onde:</span>
                                                        <span class="attr-value">Hoteis, Moteis, Na sua casa, Escirtório ou aqui no meu local</span>
                                                    </p>
                                        </p>

                                   
                    
                    
                                      
                                    
                                    </div>
                                    <div class="model-attr">
				
                                            <p class="attr-item">
                                                    <p class="attr-item">
                                                            <span class="attr-name">Quando:</span>
                                                            <span class="attr-value">Todos o Dias</span>
                                                        </p>
                                            </p>
                                           
    
                                
                        
                        
                                          
                                        
                                        </div>

                                        <div class="model-attr">
					
                                              
        
                                                <p class="attr-item">
                                                        <p class="attr-item">
                                                                <span class="attr-name">Período:</span>
                                                                <span class="attr-value">24H</span>
                                                            </p>
                                                </p>
                            
                            
                                              
                                            
                                            </div>
                        </div>
                    </article>
             
            </div>
        </div>
 
    </div>
</div>
