<div class="sort-models-header">
    <header>
        <div class="filters">
            <a href="#" class="filter-item">Mais votada</a>
            <a href="#" class="filter-item">Mais visto</a>
            <a href="#" class="filter-item">Novo(a)</a>
        </div>
        <p class="filter-label">Filtrar<i class="fa fa-filter" aria-hidden="true"></i></p>
    </header>
    <form id="filter-models">
        <div class="filter-models-inner">
            <div class="sort-column">
                <p class="title">Height</p>
                <div class="sort-properties">
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="height[]" value="up to 170">
                            <span>Até 1.70 cm</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="height[]" value="171-180">
                            <span>1.71 - 1.80 cm</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="height[]" value="181-190">
                            <span>1.81 - 1.90 cm</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="height[]" value="above 191">
                            <span>Acima de 1.91 cm</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="sort-column">
                <p class="title">Cintura</p>
                <div class="sort-properties">
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="waist[]" value="up to 60">
                            <span>Até 60 cm</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="waist[]" value="61-65">
                            <span>61 - 65 cm</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="waist[]" value="66-70">
                            <span>66 - 70 cm</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="waist[]" value="above 71">
                            <span>Acima de 71 cm</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="sort-column">
                <p class="title">Busto</p>
                <div class="sort-properties">
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="bust" value="a">
                            <span>A</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="bust" value="b">
                            <span>B</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="bust" value="c">
                            <span>C</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="bust" value="d">
                            <span>D</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="sort-column">
                <p class="title">Idade</p>
                <div class="sort-properties">
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="age[]" value="under 18">
                            <span> 18 anos</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="age[]" value="18-20">
                            <span>18 - 20 anos</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="age[]" value="21-24">
                            <span>21 - 24 anos</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="age[]" value="over 25">
                            <span>25 anos</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="sort-column">
                <p class="title">Cabelo</p>
                <div class="sort-properties">
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="hair" value="blonde">
                            <span>Loiro</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="hair" value="brunette">
                            <span>Morena</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="hair" value="brown-haired">
                            <span>Castanhos</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="hair" value="natural">
                            <span>Natural</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="hair" value="natural">
                            <span>Ruiva</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="sort-column">
                <p class="title">Olhos</p>
                <div class="sort-properties">
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="eyes" value="green">
                            <span>Verde</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="eyes" value="blue">
                            <span>Azul</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="eyes" value="brown">
                            <span>Castanho</span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="eyes" value="other">
                            <span>Outros</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="sort-column">
                <p class="title">Avaliação</p>
                <div class="sort-properties rating">
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="rating" value="2">
                            <span>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="rating" value="3">
                            <span>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="rating" value="4">
                            <span>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                        </label>
                    </p>
                    <p class="sort-property-item-wr">
                        <label class="sort-property-item">
                            <input type="checkbox" name="rating" value="5">
                            <span>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                            </span>
                        </label>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>