<!-- Navbar -->
<header class="header transparent">
    <div class="container">
        <div class="header-inner">
            <a href="/home" class="site-logo">
      <img src="assets/img/logo.png" alt="">
            </a>
            <div class="navigation-wr">
                <nav class="navigation">
                    <ul>
                        <li class="menu-item-has-children current-menu-parent">
                            <a href="#">Home</a>
                            <!--<span class="sub-menu-toggle"></span>-->
                            <!--<ul class="sub-menu">-->
                                <!--<li><a href="01_Home.html">Dark with carousel</a></li>-->
                                <!--<li class="current-menu-item"><a href="03_Home.html">Dark with find model</a></li>-->
                                <!--<li><a href="04_Home.html">White version</a></li>-->
                                <!--<li><a href="25_Search_By_Geo_Map.html">Geo maps regions</a></li>-->
                            <!--</ul>-->
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Categorias</a>
                            <span class="sub-menu-toggle"></span>
                            <ul class="sub-menu">
                                <li><a href="06_Models_Load_More.html">Escortes</a></li>
                                <li><a href="07_Models_Load_More_Alternative.html">Homens</a></li>
                                <li><a href="09_Models_Map_View.html">Viajantes</a></li>
                                <li><a href="10_Models_Map_Big.html">Trans</a></li>
                               <li><a href="08_Models_List.html">BDSM</a></li>
                                <li><a href="23_Full_Screen_Map_Search.html">Fetich</a></li>
                                <!--<li><a href="24_Alternative_Search_View.html">Map search Alt</a></li>-->
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Procurar</a>
                            <!--<span class="sub-menu-toggle"></span>-->
                            <!--<ul class="sub-menu">-->
                                <!--<li><a href="19_About_Us.html">About us</a></li>-->
                                <!--<li><a href="15_Contact.html">Contact us</a></li>-->
                                <!--<li><a href="16_Contact.html">Contact us Alt</a></li>-->
                                <!--<li><a href="18_Pricing.html">Pricing</a></li>-->
                            <!--</ul>-->
                        </li>
                
                     
                    </ul>
                </nav>
                <div class="right-sec-nav d-flex align-items-center">
                    <!--<form class="search-wr">-->
                        <!--<input type="text" id="search" name="search">-->
                        <!--<i class="icon ion-ios-search"></i>-->
                        <!--<input type="submit" class="submit" value="">-->
                    <!--</form>-->
                    <a href="/login" class="login d-flex align-items-center">
                        <i class="icon ion-ios-person-outline"></i>
                    </a>
                    <!--<div class="lang-menu-wr">-->
                        <!--<button class="btn lang-toggle">-->
                            <!--<span>EN</span>-->
                            <!--<i class="icon ion-ios-arrow-down"></i>-->
                        <!--</button>-->
                        <!--<ul class="lang-menu">-->
                            <!--<li><a href="#">EN</a></li>-->
                            <!--<li><a href="#">HR</a></li>-->
                            <!--<li><a href="03_Home_rtl.html">AR</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
    
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </div>
</header>
<!-- End Navbar -->



