<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Devon - Model Profile</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-grid.css">
	<link rel="stylesheet" href="assets/css/bootstrap-reboot.min.css">
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="assets/css/font-awesome.css">
	<!-- Ionicons Icons -->
	<link rel="stylesheet" href="assets/css/ionicons.min.css">
	<!-- Google Fonts -->
        <link href="assets/fonts/main-fonts.css" rel="stylesheet">
	<!-- Slick Slider CSS -->
	<link rel="stylesheet" href="assets/slick/slick.css">
	<link rel="stylesheet" href="assets/slick/slick-theme.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<!-- Navbar -->
	<% include partials/header%>
	<!-- End Navbar -->
	<main>
		<!-- Breadcrumbs -->
		<div class="container">
			<div class="wrapper-breadcrumbs">
				<div id="breadcrumbs">
					<a href="#">Modelo</a>
					<i class="icon ion-android-arrow-forward separator"></i>
					<span class="breadcrumb-last">luanakitty75</span>
				</div>
				<nav class="profile-nav-link">
					<a href="#" class="previus">
						<i class="icon ion-ios-arrow-thin-left"></i>
					</a>
					<a href="#" class="next">
						<i class="icon ion-ios-arrow-thin-right"></i>
					</a>
				</nav>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		<!-- Model Profile -->
		<div class="profile-entry container">
			<div class="profile-photos">
				<div class="row-sm">
					<div class="col-lg-6 profile-photos-container">
						<img class="main-photo" src='assets/img/7.jpg' alt="">
						<img class="main-photo" src='assets/img/8.jpg' alt="">
						<img class="main-photo" src='assets/img/9.jpg' alt="">
						<img class="main-photo" src='assets/img/10.jpg' alt="">
						<img class="main-photo" src='assets/img/11.jpg' alt="">
						<img class="main-photo" src='assets/img/12.jpg' alt="">
						<img class="main-photo" src='assets/img/13.jpg' alt="">
						<img class="main-photo" src='assets/img/14.jpg' alt="">
			
					</div>
					<div class="col-lg-6 thumbnail-photo">
						<div class="row-sm justify-content-center">
							<div class="col-6 col-md-4">
								<img src="assets/img/7.jpg" alt="">
							</div>
							<div class="col-6 col-md-4">
								<img src="assets/img/8.jpg" alt="">
							</div>
							<div class="col-6 col-md-4">
								<img src="assets/img/9.jpg" alt="">
							</div>
							<div class="col-6 col-md-4">
								<img src="assets/img/10.jpg" alt="">
							</div>
							<div class="col-6 col-md-4">
								<img src="assets/img/11.jpg" alt="">
							</div>
							<div class="col-6 col-md-4">
								<img src="assets/img/12.jpg" alt="">
							</div>
							<div class="col-6 col-md-4">
								<img src="assets/img/13.jpg" alt="">
							</div>
							<div class="col-6 col-md-4">
								<img src="assets/img/14.jpg" alt="">
							</div>
													
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<section class="col-md-9">
					<div class="profile-info">
						<header class="profile-header">
							<h2 class="profile-title">LUANAKITTY75</h2>
							<p class="rating">
								<i class="fa fa-star active" aria-hidden="true"></i>
								<i class="fa fa-star active" aria-hidden="true"></i>
								<i class="fa fa-star active" aria-hidden="true"></i>
								<i class="fa fa-star active" aria-hidden="true"></i>
								<i class="fa fa-star active" aria-hidden="true"></i>
							</p>
						</header>
						<div class="model-attr">
							<p class="attr-item">
								<span class="attr-name">Celular:</span>
								<span class="attrr-value">+55 61 0760116753</span>
							</p>
							<p class="attr-item">
								<span class="attr-name">Horários:</span>
								<span class="attr-value">10:00h às 22:00h</span>
							</p>
							<p class="attr-item">
								<span class="attr-name">Endereço:</span>
								<span class="attr-value">Metro Ternes,linha 2</span>
							</p>
							<p class="attr-item">
								<span class="attr-name">Cidade:</span>
								<span class="attr-value">Paris</span>
							</p>
						
						</div>
						<div class="model-description">
							<p>
							<p>Acompanhante independente </p>	

								* 0760116753 * 
								
								
								Oi eu sou Luana Kitty morena linda sorrindo. Eu serei o parceiro ideal para esses momentos de ternura. Eu amo os homens corteses, elegantes e descontraídos que aproveitarão o tempo para apreciar meus encantos. Eu sou muito bonita massagista, doce e sexy. 
								
								Minhas fotos são 100% reais e muito recentes. 
								
								'' Então você encontrou o anúncio certo que eu estou em um apartamento limpo, silencioso e refinado. 
								Eu sugiro que você venha comigo para um momento inesquecível de prazer, minha prioridade é fazer você ter um momento de sonho que você não vai esquecer. "
								
								Estou disponível para todas as informações por telefone, (chamada ou não-invasiva SMS) eu te responder rapidamente (eu não vou responder, obviamente, aos pedidos mal-torneados e ou inconsistente. ** Se eu não atender o telefone deixe-me uma mensagem e Quando eu posso ligar de volta, obrigado. ** 
								
								Para agendar uma reunião, obrigado a me ligar 30 minutos antes, eu estou 
								abraçando você muito em breve, espero.Graças.kiss 
								
								'' Eu não mantenho o dinheiro ou materiais de valor comigo! ''
							</p>
						</div>
					</div>
				</section>
				<aside class="col-md-3">
					<p class="soc-icons">
						<a href="#"><i class="fa fa-facebook-f"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</p>
					<a href="#" class="btn-classic">Enviar mensagem</a>
				</aside>
			</div>
		</div>
		<!-- End Model Profile -->
		<!-- Reviews -->
		<div class="profile-reviews container">
			<div class="row">
				<aside class="col-lg-3 sidebar">
					<div class="model-contacts">
						<h3 class="title">Localização</h3>
						<div id="map-model-location"></div>
						<p class="place">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<span>168 Luckie St NW, Atlantas</span>
						</p>
						<p class="phone">
							<i class="fa fa-mobile" aria-hidden="true"></i>
							<a href="#">+55 61 0760116753</a>
						</p>
					</div>
					<a href="#" class="wr-ads">
						<p>Propagandas*</p>
						<p>260 x 300</p>
					</a>
					<!--
					<div class="another-top-models">
						<h3 class="title">Modelos Recentes</h3>
						<div class="another-model-slider">
							<a href="#" class="item-wr">
									<div class="model-item" style="background-image: url('assets/img/6.jpg')">
										<div class="model-info">
											<p>Cidade <span>Paris</span></p>
											<p>Horários <span>10:00h à 22:00h</span></p>
											<p>Endereço: <span>Métro TernesLigne 2</span></p>
											<p>Idade: <span>29</span></p>
											<p class="rating">
												<i class="fa fa-star active" aria-hidden="true"></i>
												<i class="fa fa-star active" aria-hidden="true"></i>
												<i class="fa fa-star active" aria-hidden="true"></i>
												<i class="fa fa-star active" aria-hidden="true"></i>
												<i class="fa fa-star active" aria-hidden="true"></i>
											</p>
										</div>
									</div>
							</a>
							<a href="#" class="item-wr">
								<div  class="model-item" style="background-image: url('assets/img/placeholder/placeholder_900x500.jpg')">
									<div class="model-info">
										<p>Height: <span>185</span></p>
										<p>Bust: <span>85</span></p>
										<p>Waist: <span>60</span></p>
										<p>Age: <span>17</span></p>
										<p>Hair: <span>Red</span></p>
										<p>Eyes: <span>Blue</span></p>
										<p class="rating">
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star active" aria-hidden="true"></i>
										</p>
									</div>
								</div>
							</a>
							<a href="#" class="item-wr">
								<div  class="model-item" style="background-image: url('assets/img/placeholder/placeholder_900x500.jpg')">
									<div class="model-info">
										<p>Height: <span>185</span></p>
										<p>Bust: <span>85</span></p>
										<p>Waist: <span>60</span></p>
										<p>Age: <span>17</span></p>
										<p>Hair: <span>Red</span></p>
										<p>Eyes: <span>Blue</span></p>
										<p class="rating">
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star active" aria-hidden="true"></i>
										</p>
									</div>
								</div>
							</a>
						</div>
					</div>
					-->
				</aside>
				<section class="col-lg-9 order-lg-first">
					<h3 class="section-title lines">Comentarios Recentes</h3>
					<div class="rewiew-section">
						<div class="all-review">
							<article class="blog-comment">
								<div class="author-photo-wr">
									<img src="assets/img/placeholder/placeholder_80x80.jpg" alt="">
								</div>
								<div class="author-content">
									<header class="comment-header">
										<h3 class="author-name">Michel</h3>
										<p class="rating">
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star active" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</p>
										<p class="publish">15 Dezembro, 2018</p>

									</header>
									<div class="block-content">
										<p>Meu encontro com Luana foi um momento muito forte e intenso do começo ao fim; ela sabe acolher e deixar à vontade. Luana é uma mulher de notável beleza que combina voluptuosidade e graça; inteligente, atencioso e muito sensual; essas fotos são 100% naturais, seu rosto é lindo, seus olhos negros brilham, longos cabelos negros e pele macia como veludo. Luana é generosa e atenta ao seu parceiro, ela é muito gfe em sua atitude e essas massagens, para passar um momento com ela é muito agradável, ela gosta de rir e sabe como te colocar à vontade em suma essa felicidade. Um anjinho sorridente que adoramos abraçar e que te faz bem, obrigado novamente por este lindo encontro.</p>
									</div>
								</div>
							</article>
							
						</div>
						<form id="rate-form" class="form rate-form">
							<p class="title">Comentário</p>
							<p class="form-message error">Message should not be empty</p>
							<p class="form-message saccess">Message sent saccessfuly</p>
							<div class="rate-model">
								<p class="rating">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
								</p>
								<p class="hidden" id="rating-value">
									<input type="radio" name="rating" value="1">
									<input type="radio" name="rating" value="2">
									<input type="radio" name="rating" value="3">
									<input type="radio" name="rating" value="4">
									<input type="radio" name="rating" value="5">
								</p>
								<span>Avaliação</span>
							</div>
							<div class="row-input">
								<div class="item-wr">
									<input type="text" name="name" placeholder="Seu nome" class="name">
								</div>
								<div class="item-wr">
									<input type="email" name="email" placeholder="E-mail" class="email">
								</div>
							</div>
							<textarea name="review-message" placeholder="Mensagem"></textarea>
							<input type="submit" value="Enviar comentário" class="btn-classic">
						</form>
					</div>
				</section>
			</div>
		</div>
		<!-- End Reviews -->
	</main>
	<!-- Footer -->
	<footer class="site-footer">
		<div class="container">
			<div class="soc-icons-wrap">
				<a href="#" class="soc-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#" class="soc-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="#" class="soc-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="#" class="soc-icon"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
				
			</div>
			<p class="copyright">&#169; 2018 Devon</p>
		</div>
	</footer>
	<!-- End Footer -->
	<!-- Jquery core -->
	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<!-- Slick Slider Core -->
	<script src="assets/slick/slick.js"></script>
	<!-- All Sliders Initialization -->
	<script src='assets/js/slider.js'></script>
	<!-- Custom -->
	<script src='assets/js/common.js'></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVwc4veKudU0qjYrLrrQXacCkDkcy3AeQ"></script>
	<script src='assets/js/map.js'></script>
</body>
</html>
