<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Devon</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/bootstrap-grid.css">
        <link rel="stylesheet" href="assets/css/bootstrap-reboot.min.css">
        <link  rel="stylesheet" href='assets/css/demo.css'> 
        <link rel="stylesheet" href="assets/css/term.css">
    </head>
    <body>
            <header class="demo-header">
                    <div class="container">
                        <div class="row">
                            <div class="h-card-body offset-lg-1 col-lg-7 order-lg-2">
                            <img src="assets/img//logo.png" alt="">
                             
                            </div>
                        
                        </div>
                    </div>
                </header>
                <div class="wrap">
                        <h1>Terms and Conditions</h1>
                        <div class="terms">
                               
                            <h3>Updated Terms and Conditions</h3>
                            <p> 
                                AVISO: Eu entendo que o site que estou prestes a visitar é de tema adulto e, portanto, não se destina a visualização se eu tiver menos de 18 ou 21 anos, dependendo das leis do meu país.</p>
                             <p>- o acesso a material e imagens com conteúdo erótico não é proibido, ou é contra as leis do seu país de residência ou o acesso à Internet do seu provedor ou onde você acessa a Internet </p>
                          
                           <p>- ser informado da natureza pornográfica do servidor que eu vou.
                        </p> 
                           <p>-  Eu não estou chocado com qualquer tipo de sexualidade e não me permite lançar uma ação legal contra SexyLady.com.</p> 
                           <p>- Você concorda em não mostrar o conteúdo de sexyLady.com a menores ou a qualquer outra pessoa que possa ser ofendida ou que não atenda a essas condições.</p> 
                        </div>
              
                        <div class="choices">
                            <!--        AGREE    -->
                            <input type="radio" name="chosen" value="agree" id="agree">
                            <!-- DIS-AGREE   -->
                            <div class="h-page-card-footer">
                                    <a id="enter"  class="btn btn-local-primary">Entrar</a>
                                    <a id ="cancel" href="#" class="btn btn-local-secondary">Cancelar</a>
                                </div>
                        </div>
                    
                
                    
                    </div>
    </body>


    
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- FOLLOW -->

    <script>

        $('#enter').click(()=>{
            window.sessionStorage.setItem('termo', true);
            window.location.href = "/home"
        })

        $('#cancel').click(()=>{
            window.location.href = "https://disney.com.br"
        })
   
    
    
    </script>
